<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DigitalFilm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
		<DigitalFilm.Properties.Settings>
      <setting name="IntervalOffset" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="FileBufferSize" serializeAs="String">
          <value>8</value>
      </setting>
      <setting name="PapersDataFileName" serializeAs="String">
          <value>data.csv</value>
      </setting>
  </DigitalFilm.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magick.NET.Core" publicKeyToken="2004825badfa91ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.4.0.0" newVersion="13.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>